/* ============================================= */
/*              Mixins                           */
/* ============================================= */
/* ============================================= */
/*              HEADER                           */
/* ============================================= */
.header {
  background-color: #7477bf;
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header * {
  color: #FFFFFF;
}

.header__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 1.7rem;
}

.header__title__span {
  font-weight: 300;
}

.header h2 {
  font-size: .9rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__container__alerts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  position: relative;
}

.header__container__alerts::after {
  content: '';
  position: absolute;
  top: calc(100% - 2rem);
  left: calc(100% - 2.5rem);
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
  background: #81c98f;
}

.header__container__alerts__accent {
  background: #5d61bf;
  height: 4rem;
  width: .1rem;
  position: absolute;
  right: 0;
}

.header__container__alerts__svg {
  position: relative;
  display: block;
  height: 1.5rem;
  width: 100%;
  overflow: visible;
  cursor: pointer;
  opacity: .5;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  fill: #FFFFFF;
}

.header__container__alerts__svg:hover {
  opacity: 1;
}

.header__container__notifications {
  position: fixed;
  top: 7%;
  right: 15%;
  width: 22rem;
  padding: 2rem;
  z-index: 1;
  -webkit-box-shadow: 1px 4px 8px #666666;
          box-shadow: 1px 4px 8px #666666;
  background-color: #fbfbfb;
  display: none;
}

.header__container__notifications h4 {
  margin: 0;
}

.header__container__notifications h4, .header__container__notifications span {
  display: block;
  color: #666666;
}

.header__container__notifications span:not(:last-child) {
  margin-bottom: 1rem;
}

.header__container__notifications__header {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container__notifications__header__number {
  position: relative;
}

.header__container__notifications__header__number::before {
  content: '';
  border-radius: 50%;
  border: 2px solid #7377bf;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__container__notifications__member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container__notifications__member:not(:last-child) {
  margin-bottom: 1rem;
}

.header__container__notifications__member__img {
  border-radius: 50%;
  width: 3rem;
  margin-right: .7rem;
}

.header__container__profile {
  position: relative;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container__profile__img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header h2 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 425px) {
  .header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header__title {
    font-size: 1.4rem;
  }
  .header__container__alerts::after {
    left: calc(100% - 1rem);
  }
  .header__container__alerts__accent {
    right: -20%;
  }
  .header__container__notifications {
    top: 9.5%;
    right: 10%;
    width: 19rem;
  }
}

@media screen and (max-width: 375px) {
  .header h2 {
    font-size: 1.1rem;
  }
  .header__container__notifications {
    right: 4%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__container__notifications {
    top: 14.5%;
    right: 7%;
    width: 15rem;
  }
  .header__container__notifications__member {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .header__container__notifications__member__img {
    margin-right: 0;
  }
}

/* ============================================= */
/*              Main Dashboard                   */
/* ============================================= */
.dashboard-wrapper {
  padding: 0 1rem;
  margin-top: 1rem;
}

.main__dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__dashboard h2 {
  padding-left: .5rem;
  margin-bottom: 1rem;
}

.main__dashboard__search {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fbfbfb;
  border: 1px solid #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.main__dashboard__search__icon {
  position: absolute;
  top: 30%;
  left: calc(100% - 3.5rem);
  width: 2rem;
  max-width: 100%;
}

.main__dashboard [type="search"] {
  width: 90%;
  padding: .8rem;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  margin-right: 4%;
}

@media screen and (min-width: 768px) {
  .dashboard-wrapper {
    padding: 0 2rem;
    margin-top: 0;
  }
  .main__dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main__dashboard h2 {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .main__dashboard__search {
    width: 100%;
  }
  .main__dashboard__search__icon {
    left: calc(100% - 3.5rem);
  }
  .main__dashboard [type="search"] {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .main__dashboard__search__icon {
    left: calc(100% - 4.5rem);
  }
}

@media screen and (min-width: 1200px) {
  .main__dashboard__search__icon {
    left: calc(100% - 5.5rem);
  }
}

@media screen and (min-width: 1440px) {
  .main__dashboard__search__icon {
    left: calc(100% - 6.5rem);
  }
}

@media screen and (min-width: 1900px) {
  .main__dashboard__search__icon {
    left: calc(100% - 8.5rem);
  }
}

/* ============================================= */
/*              Main Alert Bar                   */
/* ============================================= */
.main__alert {
  background-color: #7377bf;
  border-radius: 5px;
  padding: 1rem 2%;
  margin-bottom: 2rem;
}

.main__alert__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
  padding-left: 1rem;
  position: relative;
}

.main__alert__banner__close {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  opacity: .5;
  -webkit-transition: .3s opacity ease;
  transition: .3s opacity ease;
  position: absolute;
  top: calc(100% - 3.5rem);
  right: 2%;
}

.main__alert__banner__close:hover {
  opacity: 1;
}

@media screen and (max-width: 425px) {
  .main__alert p {
    font-size: .9rem;
  }
  .main__alert__banner__close {
    top: calc(100% - 2rem);
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 375px) {
  .main__alert__banner__close {
    top: calc(100% - 3.2rem);
  }
}

@media screen and (max-width: 320px) {
  .main__alert__banner__close {
    top: calc(100% - 3.5rem);
  }
}

@media screen and (min-width: 768px) {
  .main__alert {
    margin-right: 0rem;
  }
  .main__alert p {
    max-width: none;
  }
  .main__alert__banner__close {
    top: calc(100% - 1.2em);
    right: -1%;
  }
}

/* ============================================= */
/*              Traffic                          */
/* ============================================= */
.traffic {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 2rem;
}

.traffic__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.traffic__header h3 {
  margin: 0;
}

.traffic__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.traffic__nav__link {
  padding: .5rem 5%;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: background-color .3s ease, color .3s ease;
  transition: background-color .3s ease, color .3s ease;
}

.traffic__nav__link:hover, .traffic__nav__link:active, .traffic__nav__link:focus {
  background-color: #81c98f !important;
  color: #FFFFFF !important;
}

.traffic__nav__link.active {
  background-color: #81c98f;
  color: #FFFFFF;
}

.traffic__nav__link:not(:first-child) {
  margin-left: 0;
}

@media screen and (max-width: 425px) {
  .traffic__header {
    display: block;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
  }
  .traffic__header h3 {
    margin-bottom: 1rem;
  }
  .traffic__nav {
    margin: 0;
    width: 100%;
  }
  .traffic__nav__link {
    font-size: .9rem;
  }
}

@media screen and (max-width: 320px) {
  .traffic__nav__link {
    font-size: .82rem;
  }
}

@media screen and (min-width: 768px) {
  .traffic__nav {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .traffic__nav {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .traffic__nav {
    width: 40%;
  }
}

@media screen and (min-width: 1440px) {
  .traffic__nav {
    width: 25%;
  }
}

/* ============================================= */
/*              Daily Users                      */
/* ============================================= */
.daily {
  position: relative;
  border-right: 1px solid #d1d1d1;
}

.daily h3 {
  margin-bottom: 1.5rem;
  padding-left: 2rem;
}

/* RESPONSIVE [MOBILE-LAYOUT FIRST] */
@media screen and (min-width: 768px) {
  .daily h3 {
    padding-left: 2rem;
  }
}

/* ============================================= */
/*              Social Stats                     */
/* ============================================= */
.social {
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 3rem;
  padding: 0 1rem;
}

.social h3 {
  margin-bottom: 1.5rem;
}

.social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__container__box {
  background-color: #fbfbfb;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.social__container__img {
  background-color: #7377bf;
  padding: 1.3rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.social__container__img__svg {
  display: block;
  height: 3rem;
  color: #FFFFFF;
  fill: currentColor;
  height: 2.5rem;
  width: 2.5rem;
}

.social__container__img__svg path {
  stroke: #FFFFFF;
  stroke-width: 1;
  stroke-dasharray: 160;
  stroke-dashoffset: 160;
  -webkit-animation: offset 2.5s linear forwards, fill-it .8s 3s forwards;
          animation: offset 2.5s linear forwards, fill-it .8s 3s forwards;
}

.social__container__text {
  line-height: 1;
}

.social__container__text strong {
  color: #7377bf;
  font-size: 1.5rem;
}

.social__container__text p {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 300;
}

@-webkit-keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill-it {
  100% {
    fill: #FFFFFF;
  }
}

@keyframes fill-it {
  100% {
    fill: #FFFFFF;
  }
}

@media screen and (min-width: 768px) {
  .social {
    padding: 0 2rem;
  }
  .social__container {
    margin-bottom: 2rem;
  }
  .social__container__box {
    padding: 2.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48.5%;
            flex: 0 0 48.5%;
    width: 48%;
  }
  .social__container__box:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .social__container__text p {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .social__container__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 29.5%;
            flex: 0 0 29.5%;
    width: 32%;
  }
  .social__container__box:last-child {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

/* ============================================= */
/*              Main Members                     */
/* ============================================= */
.members {
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}

.members__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.activity {
  border-bottom: 1px solid #d1d1d1;
}

.members,
.activity {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.members h3,
.activity h3 {
  margin-bottom: 1.5rem;
}

.members__container,
.activity__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.members__container:not(:last-child),
.activity__container:not(:last-child) {
  margin-bottom: 2rem;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 1rem;
}

.members__container__img,
.activity__container__img {
  width: 4rem;
  border-radius: 50%;
  margin-right: 1.2rem;
}

.members__container__date,
.activity__container__date {
  display: block;
  margin-top: 1rem;
}

.members__container__arrow,
.activity__container__arrow {
  display: none;
}

@media screen and (min-width: 768px) {
  .members,
  .activity {
    padding: 0 2rem;
  }
  .members__container,
  .activity__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: relative;
  }
  .members__container__date,
  .activity__container__date {
    margin-left: auto;
  }
  .members__container__arrow,
  .activity__container__arrow {
    display: block;
    height: 2rem;
    width: 2rem;
    margin-left: auto;
    position: absolute;
    right: 0;
  }
  .members__container__date {
    text-align: right;
  }
  .activity__text {
    max-width: 11rem;
  }
}

@media screen and (min-width: 1024px) {
  .members__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
  }
  .activity__text {
    max-width: 16rem;
  }
}

@media screen and (min-width: 1200px) {
  .activity__text {
    max-width: 30rem;
    width: 80%;
  }
}

@media screen and (min-width: 1440px) {
  .activity__text {
    max-width: 39rem;
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .members__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 79%;
            flex: 0 0 79%;
  }
}

/* ============================================= */
/*              Main Messaging                   */
/* ============================================= */
.message,
.settings {
  padding-left: 1rem;
  padding-right: 1rem;
}

.message h3,
.settings h3 {
  margin-bottom: 1.5rem;
}

.message {
  border-right: 1px solid #d1d1d1;
}

.message__container__input {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: #fbfbfb;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.message__container__textarea {
  display: block;
  width: 100%;
  min-height: 10rem;
  padding: 2rem 3%;
  background-color: #fbfbfb;
  border: 1px solid #d1d1d1;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.message__container__button {
  display: block;
  text-align: center;
  width: 100%;
  background-color: #7377bf;
  color: #FFFFFF;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  cursor: pointer;
}

.message__container__button:hover {
  background-color: #81c98f;
}

.settings {
  padding-bottom: 4rem;
}

.settings__container:not(:last-child) {
  margin-bottom: 3rem;
}

.settings__container + .settings__container {
  margin-bottom: 4.5rem;
}

.settings label.switch-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings .switch-wrapper {
  width: 30% !important;
  margin-left: auto;
  background-color: #7377bf !important;
}

.settings .switch-ios.switch-light span span {
  color: #FFFFFF;
  text-transform: uppercase;
}

.settings__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.settings__wrapper__arrow {
  display: block;
  height: 2rem;
  width: 2rem;
  position: absolute;
  bottom: calc(100% - 2.8rem);
  left: calc(100% - 3.5rem);
  pointer-events: none;
}

.settings__timezone {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: #fbfbfb;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-bottom: 2rem;
  position: relative;
}

.settings__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.settings__buttons--primary {
  display: block;
  border-radius: 5px;
  width: 48%;
  background-color: #7377bf;
  color: #FFFFFF;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.settings__buttons--primary:hover, .settings__buttons--primary:active, .settings__buttons--primary:focus {
  background-color: #81c98f;
}

.settings__buttons--disabled {
  display: block;
  border-radius: 5px;
  width: 48%;
  background-color: #b2b2b2;
  color: #FFFFFF;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .message,
  .settings {
    padding: 0 2rem;
    padding-bottom: 5rem;
  }
  .settings__switch {
    width: 100%;
    display: block;
  }
  .settings__switch__btn {
    margin-top: .5rem;
  }
  .settings__timezone {
    margin-bottom: 4.5rem;
  }
  .settings .switch-light strong {
    font-size: .9rem;
  }
  .settings__container:not(:last-child) {
    margin-bottom: 1rem;
  }
  .settings__container + .settings__container {
    margin-bottom: 4.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .settings__switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .settings__wrapper {
    margin-bottom: 2.5rem;
  }
  .settings__timezone {
    margin-bottom: 2rem;
  }
  .settings .switch-light strong {
    font-size: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .settings__switch {
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .settings__switch {
    font-size: .85rem;
  }
}

/* ============================================= */
/*              Mobile Users                     */
/* ============================================= */
.mobile {
  padding-bottom: 2rem;
}

.mobile h3 {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

/* RESPONSIVE [MOBILE-LAYOUT FIRST] */
@media screen and (min-width: 768px) {
  .mobile {
    padding-bottom: 0;
  }
  .mobile h3 {
    padding-left: 2rem;
  }
}

/* ============================================= */
/*              Widget Container                 */
/* ============================================= */
.widget-container-full,
.widget-container-half {
  width: 100vw;
  height: 25vh;
  padding: 0 1rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .widget-container-full {
    width: 85vw;
    height: 40vh;
  }
  .widget-container-half {
    width: 40vw;
    height: 30vh;
  }
}

@media screen and (min-width: 1200px) {
  .widget-container-full {
    width: 89vw;
  }
  .widget-container-half {
    width: 44vw;
  }
}

@media screen and (min-width: 1440px) {
  .widget-container-full {
    width: 90vw;
  }
}

@media screen and (min-width: 1900px) {
  .widget-container-full {
    width: 92vw;
  }
}

/* ============================================= */
/*              Sidebar Navigation               */
/* ============================================= */
.nav {
  background-color: #4d4c72;
  padding: 1.3rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link:not(.active) svg {
  opacity: .5;
}

.nav__link:hover svg,
.nav__link:active svg,
.nav__link:focus svg,
.nav__link:visited svg {
  opacity: 1;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: -30%;
  left: -22%;
  background: #81c98f;
  height: 4rem;
  width: 4px;
  opacity: 0;
  -webkit-transition: .3s opacity ease-in;
  transition: .3s opacity ease-in;
}

.nav__link:hover::before, .nav__link:active::before, .nav__link:focus::before, .nav__link:visited::before {
  opacity: 1;
}

.nav__link__svg {
  display: block;
  height: 2.5rem;
  width: 100%;
  -webkit-transition: .3s opacity ease-in;
  transition: .3s opacity ease-in;
  overflow: visible;
}

.nav__link__svg path {
  stroke: #FFFFFF;
  stroke-width: 1;
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  -webkit-animation: offset 3s linear forwards;
          animation: offset 3s linear forwards;
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    padding-top: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__item {
    position: relative;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 3rem;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Inria Sans", sans-serif;
  line-height: 1.3;
  padding: 0;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

h2, p {
  margin: 0;
}

h3 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "nav" "main";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

.main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

/* Responsive */
@media screen and (min-width: 768px) {
  .grid-container {
    -ms-grid-columns: minmax(120px, auto) 1fr;
        grid-template-columns: minmax(120px, auto) 1fr;
        grid-template-areas: "header header" "nav main";
  }
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 50%;
        grid-template-columns: 50%;
  }
  .traffic, .social, .dashboard-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .daily, .members, .message {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    padding-bottom: 2rem;
    overflow: hidden;
  }
  .mobile, .activity, .settings {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    padding-bottom: 2rem;
    overflow: hidden;
  }
}
/*# sourceMappingURL=styles.css.map */