/* ============================================= */
/*              Mixins                           */
/* ============================================= */

@mixin flex-standard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin main-gutter {
    padding: 0 2rem;
}