// VARIABLES --------------------------------- /

// COLORS
$color-primary: #7377bf;
$color-primary-light: #7477bf;
$color-primary-dark: #4d4c72;

$color-bg-primary: #f6f6da;

$color-text-dark: #666666;
$color-text-light: #FFFFFF;

$color-btn-phones: #74b1bf;

$color-btn-v1: #7377bf;
$color-btn-v2: #81c98f;
$color-btn-v3: #b2b2b2;

$color-accent-primary: #5d61bf;

// FONTS
$font-stack-primary: 'Inria Sans', sans-serif;
$font-base-default: 18px;

// FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// GUTTER
$gutter: .5rem;

// MEDIA QUERIES [MOBILE FIRST APPROACH]
$break-laptop: 1024px;
$break-tablet: 768px;
$break-mobile: 320px;

// MAX WIDTH
$max-width-main: 60rem;
