/* ============================================= */
/*              Daily Users                      */
/* ============================================= */

.daily {
    position: relative;
    border-right: 1px solid $color-border;
    @include main-gutter;
    overflow: hidden;

    h3 {
        margin-bottom: 1.5rem;
    }
}