/* ============================================= */
/*              Widget Container                 */
/* ============================================= */

.widget-container-full, 
.widget-container-half {
    width: 100vw;
    @include main-gutter;
    position: relative;
}

// RESPONSIVE [MOBILE FIRST-APPROACH]

@media screen and (min-width: 768px) {
    
    .widget-container-full {
        height: 40vh;
    }

    .widget-container-half {
        width: 45vw;
        height: 30vh;
    }

}







