/* ============================================= */
/*              Daily Users                      */
/* ============================================= */

.daily {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    
    &__half {
        width: 47%;
    }
    
}

