/* ============================================= */
/*              Mobile Users                     */
/* ============================================= */

.mobile {
    padding-bottom: 2rem;

    h3 {
        padding-left: 2rem;
    }
    
       
}

/* RESPONSIVE [MOBILE-LAYOUT FIRST] */
@media screen and (min-width: 768px) {

    .mobile {
        padding-bottom: 0;

        h3 {
            padding-left: 0;
        }

    }

}