/* ============================================= */
/*              Traffic                          */
/* ============================================= */

.traffic {
    border-bottom: 1px solid $color-border;
    margin-bottom: 2rem;
    @include main-gutter;
    
    &__header {
        @include flex-standard;   
    }
    
    &__nav {
        display: flex;
        width: 33%;
        
        &__link {
            cursor: pointer;
            padding: .5rem 5%;
            border-radius: 2rem;
            transition: background-color .3s ease-in, color .3s ease-in;
            
            &:hover,
            &:focus,
            &:visited {
                background-color: $color-btn-v2;
                color: $color-text-light;
            }
            
            &--active {
                background-color: $color-btn-v2;
                color: $color-text-light; 
                padding: .5rem 5%;
                border-radius: 1rem;
            }
        }
        
        &__link:not(:first-child) {
            margin-left: 2rem;
        }
        
        
    }

}