/* ============================================= */
/*              Daily Users                      */
/* ============================================= */

.daily {
    position: relative;
    border-right: 1px solid $color-border;

    h3 {
        margin-bottom: 1.5rem;
        padding-left: 2rem;

    }
}


/* RESPONSIVE [MOBILE-LAYOUT FIRST] */
@media screen and (min-width: 768px) {

    .daily {

        h3 {
            padding-left: 2rem;
        }

    }

}