/* ============================================= */
/*              Sidebar Navigation               */
/* ============================================= */

.nav {
    background-color: $color-primary-dark;
    padding: 1.3rem;
    
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
    
        &:not(.active) svg {
            opacity: .5;
        }
        
        &:hover svg, 
        &:active svg,
        &:focus svg,
        &:visited svg {
            opacity: 1;
        }

        &::before {
            content: '';
            position: absolute;
            top: -30%;
            left: -23%;
            background: $color-btn-v2;
            height: 4rem;
            width: 4px;
            opacity: 0;
            transition: .3s opacity ease-in;
        }

        &:hover::before,
        &:active::before,
        &:focus::before, 
        &:visited::before {
            opacity: 1;
        }

        &__svg {
            display: block;
            height: 2.5rem;
            width: 100%;
            transition: .3s opacity ease-in;
            overflow: visible;

            path {
                stroke: $color-text-light;
                stroke-width: 1;
                stroke-dasharray: 130;
                stroke-dashoffset: 130;
    
                animation: offset 3s linear forwards;

            }
            
        }
        
    }

}

// KEYFRAMES

@keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}

// RESPONSIVE [MOBILE FIRST-APPROACH]

@media screen and (min-width: 768px) {

    .nav {

        &__list {
            padding-top: 3rem;
            flex-direction: column;
        }

        &__item {
            position: relative;
        }
    
        &__item:not(:last-child) {
            margin-bottom: 3rem;
        }

    }

}
