// GRID Layout

.main {
    margin: 0 2rem;  
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto; 
    grid-template-areas: 
        "header"
        "nav"
        "main";
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
    display: grid;
}

/* Responsive */
@media screen and (min-width: 768px) {

    .grid {
        grid-template-columns: minmax(150px, auto) 1fr;
        // grid-template-rows: 100px 91px 90px repeat(2, minmax(530px, auto)) minmax(320px, auto) 500px 600px;
        grid-template-areas: 
            "header header"
            "nav main"
            "nav main"
            "nav main"
            "nav main"
            "nav main"
            "nav main"
            "nav main";
    }

    .main {
        grid-template-columns: 1fr;
    }

}
