// GRID Layout

.main {
    margin: 0 2rem;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 150px) minmax(auto-fit, 1fr); 
    grid-template-areas: 
        "header"
        "nav"
        "main";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    background-color: #ffffff;
}

/* Responsive */
@media screen and (min-width: 768px) {

    .grid {
        grid-template-columns: minmax(150px, auto) repeat(2, 2fr);
        grid-template-rows: 100px 120px repeat(2, minmax(500px, auto)) 300px repeat(2, minmax(400px, auto));
        grid-template-areas: 
        "header header header"
        "nav main main"
        "nav main main"
        "nav main main"
        "nav main main"
        "nav main main"
        "nav main main";
    }

}
